@import "@angular/material/prebuilt-themes/deeppurple-amber.css";

html, body {
  height: 100%;
}

body {
  margin: 0;

  * {
    font-family: var(--mat-card-subtitle-text-font) !important;
  }
}

.cursor-pointer {
  cursor: pointer;

  input {
    cursor: pointer;
  }
}

